

#data > div > div {
    display: inline-block;
}


#data > div > div:first-child {
    width: 200px;
}


#data > div > canvas {
    border: 1px solid black;
    margin-top: -1px;
    display: block;
}
